* {
	color: inherit;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: #191414;
	font-family: system-ui, sans-serif;
}

:any-link:not(:hover, :focus, :active) {
	text-decoration: none;
}